# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore c9 files
/.c9/

# Ignore spring files
/spring/

# Ignore application configuration
/config/application.yml
