<div class="container">
  <div class="jumbotron text-center" style="background-color: #6CA0DC;">
      <h3>The Most Intuitive Analytics Tool for Web Apps.</h3>
      <%= image_tag("startup@3x.png", :alt => "logo", class: 'center-block') %>
      <h3>Get started with Blockmetrics with one line.</h3>
      <br>
      <%= link_to "Sign Me Up Now!", new_user_registration_path, class: 'btn btn-primary', style: 'font-size:20px;' %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="media-heading">Track</h3>
      <p class="media-body">Get the usage information you need from your web app after a one step integration.</p>
    </div>
    <div class="col-md-4">
      <h3 class="media-heading">Analyze</h3>
      <p class="media-body">In-Depth data laid out on a clean and easy to read interface.</p>
    </div>
    <div class="col-md-4">
      <h3 class="media-heading">Refine</h3>
      <p class="media-body">Get invaluable insights that will help you improve every step of your user funnel, from onboarding to retainment.</p>
    </div>
  </div>
</div>